.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.block {
  width: 100%;
  background: black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.9) 0 0 5px 0px;
  color: white;
}
.block + .block {
  margin-top: 30px;
}
.header {
  padding: 15px 15px;
  font-weight: 400;
  color: var(--main-bg-color);
}
.internals {
  padding: 10px;
  padding-left: 15px;
}
.internals p + p {
  margin-top: 10px;
}

@media screen and (min-width: 600px) {
}
@media screen and (min-width: 768px) {
  .container {
    flex-wrap: nowrap;
  }
  .block {
    max-width: 350px;
  }
  .block + .block {
    margin-top: 0px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}
