.header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
  color: white;
  box-shadow: black 0px 0px 5px 0px;
  z-index: 1;
}
.header a:hover {
  color: var(--main-bg-color);
}
.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: var(--header-height);
  margin: 0 auto;
  font-size: 1.25em;
  background: black;
}
.navContainer > div {
  display: flex;
}
