.header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  height: var(--header-height);
  width: 100%;
  min-width: 340px;
  background: black;
  color: white;
  box-shadow: black 0px 0px 5px 0px;
  z-index: 1;
}
.header a:hover {
  color: var(--main-bg-color);
}
.header + div {
  background: var(--main-bg);
  margin-top: 60px;
  min-width: 340px;
  height: var(--visible-height);
  overflow: auto;
}
.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  /* font-size: 20px; */
  /* line-height: 25px; */
  font-size: 1.25em;
  /* line-height: 1.25em; */
}
.navContainer > div {
  display: flex;
}

.menuIcon {
  height: 30px;
  width: 30px;
  background-image: url('../../../../images/icons/menu.svg');
  cursor: pointer;
  user-select: none;
  transition: .3s;
}
.menuIcon.opened {
  background-image: url('../../../../images/icons/menu_opened.svg');
}
