* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: Helvetica, Arial, sans-serif;
}
h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.invisible {
  display: none;
}
@media screen and (max-width: 600px) {
  .container{
    width: 100%;
  }
}
