.container {
  background: var(--main-bg);
  min-height: var(--visible-height);
}
.contentContainer {
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.contentHolder {
  display: flex;
  width: 90%;
  margin: 30px 0 0 0;
}

@media screen and (min-width: 600px) {
  .contentHolder {
    margin: 40px 0;
  }
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}
