.navigation {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  min-width: 340px;
  background: black;
  /* background-image: url('../../../../images/background/1.svg'); */
  color: white;
  box-shadow: black 0px 0px 5px 0px;
  z-index: 1;
}
.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  font-size: 20px;
  line-height: 25px;
}
.navContainer > div {
  display: flex;
  align-items: center;
}
.navigation a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
  /* display: block; */
  transition: linear 0.1s;
}
.navigation a:hover {
  /* color: #e6caff !important; */
  color: var(--main-color) !important;
}
/* .navigation .separator {
  padding: 10px 0;
} */
.navigation + div {
  margin-top: 60px;
  min-width: 340px;
}
.menuIcon {
  height: 30px;
  width: 30px;
  background-image: url('../../../../images/icons/menu.svg');
  cursor: pointer;
  user-select: none;
  transition: .3s;
}
.menuIcon.opened {
  background-image: url('../../../../images/icons/menu_opened.svg');
}
