.btn {
  display: block;
  margin: 30px auto;
  border: 0;
  border-radius: 10px;
  background: #e6caff;
  width: 50%;
  min-width: 300px;
  max-width: 500px;
  padding: 50px 0;
  font-size: 30px;
  color: black;
  cursor: pointer;
}
.btn:hover {
  background: blueviolet;
  color: white;
}