.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  padding: 30px 0 30px 20px;
  font-size: 20px;
  font-size: 1.2em;
}
.menu > div + div {
  margin-top: 5px;
}
.difficulty > div {
  display: inline-block;
}
.difficultyItem {
  margin-left: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}
.difficultyItem.active {
  background-color: black;
  color: var(--second-color);
}

@media screen and (min-width: 600px) {
  .menu {
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 30px 0;
    font-size: 25px;
    font-size: 1.5em;
  }
  .menu > div + div {
    margin-top: 0;
  }
  .difficultyItem {
    width: 35px;
    height: 35px;
    padding: 4px;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    padding: 60px 0 30px;
  }
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}
