.footer {
  background: black;
  color: white;
}
.container {
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px 30px;
}
.copyright {
  flex-basis: 100%;
  margin-top: 20px;
  padding: 20px 0;
  color: var(--main-bg-color);
  font-size: 0.9em;
  text-align: center;
  border-top: 1px solid var(--second-color);
}

@media screen and (min-width: 600px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}