.result-container {
  font-size: 1.25em;
  padding: 20px;
  margin: 30px auto;
  text-align: right;
  color: blueviolet;
}
.result-container td {
  padding: 5px;
}
.result-value {
  color: black;
}
.plus {
  color: #0c0;
}
.minus {
  color: red;
}
.button {
  font-size: 1.25em;
}

@media screen and (min-width: 600px) {
  .result-container {
    font-size: 1.8em;
  }
  .result-container td {
    padding: 10px;
  }
  .button {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}