.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.9) 0 0 5px 0px;
}
.card {
  position: relative;
  --size: 60px;
  width: calc(var(--size) * 0.8);
  height: var(--size);
  margin: 7px;
  perspective: 500px;
}
.cardSide {
  box-shadow: rgb(0 0 0 / 50%) 0 0 2px 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 1s transform;
  backface-visibility: hidden;
  border-radius: 5px;
}
.cardSide.front.difficulty-1 {
  background-image: linear-gradient(45deg, #0f0, #caffca, #0f0);
}
.cardSide.front.difficulty-2 {
  background-image: linear-gradient(45deg, #ff0, #fff5ca, #ff0);
}
.cardSide.front.difficulty-3 {
  background-image: linear-gradient(45deg, #f00, #ffcaca, #f00);
}
.cardSide.back.difficulty-1 {
  background-color: #caffca;
}
.cardSide.back.difficulty-2 {
  background-color: #fff5ca;
}
.cardSide.back.difficulty-3 {
  background-color: #ffcaca;
}
.cardSide.front.matched {
  transform: rotateY(0deg);
}
.cardSide.back.matched {
  transform: rotateY(-180deg);
}
.cardSide.front {
  transform: rotateY(180deg);
}
.cardSide.back {
  transform: rotateY(0deg);
}
.container:hover .cardSide.front.matched {
  transform: rotateY(180deg);
}
.container:hover .cardSide.back.matched {
  transform: rotateY(0deg);
}
.container:hover .cardSide.front {
  transform: rotateY(0deg);
}
.container:hover .cardSide.back {
  transform: rotateY(-180deg);
}
.cardSide.back.picture-3 {
  background-image: url(../../../../../images/g2/3.svg);
}
.cardSide.back.picture-4 {
  background-image: url(../../../../../images/g2/4.svg);
}
.cardSide.back.matched.picture-5 {
  background-image: url(../../../../../images/g2/5.svg);
}


@media screen and (min-width: 400px) {
  .card {
    --size: 80px;
  }
}
@media screen and (min-width: 600px) {
  .card {
    --size: 100px;
  }
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}
