.navigation {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background: black;
  color: white;
  box-shadow: black 0px 0px 5px 0px;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 20px;
  line-height: 25px;
}
.nav-container > div {
  display: flex;
}
.navigation a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
  display: block;
  transition: linear 0.1s;
}
.navigation a:hover {
  color: #e6caff !important;
}
.navigation + div {
  margin-top: 60px;
  min-width: 340px;
}
