.block {
  width: 100%;
  max-width: 350px;
  /* border-radius: 10px; */
  overflow: hidden;
}
.block:nth-child(n+2) {
  margin-left: 30px;
}
.header {
  /* background-color: #e6caff; */
  padding: 15px 30px;
  font-weight: 400;
  color: blueviolet;
  /* text-align: center; */
}
.internals {
  /* background-color: #f6eefd; */
  padding: 10px;
  padding-left: 30px;
}
.internals p:nth-child(n + 2) {
  margin-top: 10px;
}
@media screen and (max-width: 500px) {
  .block {
    width: 100%;
    min-width: 250px;
    overflow: hidden;
    margin-bottom: 30px;
    margin-left: 0 !important;
  }
}
@media screen and (max-width: 780px) {
  .block {
    min-width: 300px;
  }
}