.message {
  font-size: 0.9em;
  line-height: 1.25em;
}
.buttonsContainer {
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
  max-width: 400px;
}

@media screen and (min-width: 600px) {
  .message {
    font-size: 1em;
  }
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}