.container {
  display: flex;
  /* width: 90%; */
  background: black;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.9) 0 0 5px 0px;
  cursor: pointer;
  transition: 0.2s;
}
.container:hover {
  box-shadow: rgba(0, 0, 0, 0.9) 0 0 20px 0px;
  scale: 1.01;
}
.logo, .description {
  display: inline-block;
}
/* .logo {
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
} */
.description {
  align-self: center;
  width: calc(100% - 200px);
  color: white;
  padding: 30px 50px;
}

@media screen and (width < 600px) {
  /* .container {
    flex-direction: column;
  } */
  /* .logo {
    margin: 0 auto;
  } */
  .description {
    width: 100%;
  }
}