.container {
  display: flex;
  background: black;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.9) 0 0 5px 0px;
  cursor: pointer;
  transition: 0.2s;
}
.container:hover {
  box-shadow: rgba(0, 0, 0, 0.9) 0 0 20px 0px;
  scale: 1.01;
}
.logo {
  display: inline-block;
}

@media screen and (min-width: 600px) {
  .container {
    padding: 20px;
    margin: 20px;
  }
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}