.playfield {
  /* display: flex; */
  /* flex-direction: row; */
  margin: auto;
  /* height: 800px; */
  height: 80vh;
  min-height: 300px;
  max-width: 1000px;
  width: 100%;
  /* min-width: 600px; */
  /* border: 2px solid blueviolet; */
}
.score {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border-bottom: 2px solid blueviolet; */
  height: 15%;
  font-size: 50px;
}
