.action-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
}
@media screen and (max-width: 600px) {
  .action-field {
    font-size: 3vmin;
  }
}
