/* @media screen and (max-width: 600px) {
  .nav-links-list {
    position: absolute;
    background-color: blueviolet;
    display: none !important;
  }
} */
.nav-links-list {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav-links-group-list {
  display: none;
  position: absolute;
  background-color: black;
  list-style: none;
  top: 60px;
}
.nav-links-list-visible {
  display: block;
  box-shadow: black 0px 0px 5px 0px;
}