* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: Helvetica, Arial, sans-serif;
}
h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
@media screen and (max-width: 600px) {
  .container{
    width: 100%;
  }
}
.container{
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.playfield {
  /* display: flex; */
  /* flex-direction: row; */
  margin: auto;
  /* height: 800px; */
  height: 80vh;
  min-height: 300px;
  max-width: 1000px;
  width: 100%;
  /* min-width: 600px; */
  /* border: 2px solid blueviolet; */
}
.score {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border-bottom: 2px solid blueviolet; */
  height: 15%;
  font-size: 50px;
}
@media screen and (max-width: 600px) {
  .action-field {
    font-size: 3vmin;
  }
}

