* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}
@media screen and (max-width: 600px) {
  .container{
    width: 100%;
    /* min-width: 300px; */
  }
}
.container{
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  /* min-width: 1200px; */
  margin: 0 auto;
}
.playfield {
  /* display: flex; */
  /* flex-direction: row; */
  margin: auto;
  /* height: 800px; */
  height: 80vh;
  min-height: 300px;
  max-width: 1000px;
  width: 100%;
  /* min-width: 600px; */
  /* border: 2px solid blueviolet; */
}
.score {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border-bottom: 2px solid blueviolet; */
  height: 15%;
  font-size: 50px;
}
@media screen and (max-width: 600px) {
  .action-field {
    font-size: 3vmin;
  }
}
.action-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
}
.controllers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border-top: 2px solid blueviolet; */
  height: 15%;
  user-select: none;
}