.buttonsHolder {
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0;
}
.button {
  --button-size: 50px;
  width: var(--button-size);
  height: var(--button-size);
  stroke: grey;
  stroke-linejoin: round;
  stroke-linecap: round;
  fill: none;
  transition: stroke .25s;
}
.right {
  stroke: #0c0;
}
.wrong {
  stroke: red;
}

@media screen and (min-width: 600px) {
  .button {
    --button-size: 80px;
    width: var(--button-size);
    height: var(--button-size);
  }
}
@media screen and (min-width: 768px) {
  .button {
    --button-size: 100px;
    width: var(--button-size);
    height: var(--button-size);
  }
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}